@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Prosto+One&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #000000 !important;
  color: #fff !important;
}
#root, .app{
  width: 100%;
  height: 100%;
}
body, .home-wrapper, .nombre-wrapper, .utd-wrapper, .carrera-wrapper{
  margin:0;
  display:grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Montserrat;
  font-weight: 600;
}
ul{
  padding-left: 0 !important;
}

nav ul{
  list-style: none;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
}
 nav button{
  margin: auto;
 }

 nav a{
  text-decoration: none;
  color: #000000;
 }


.home-wrapper{
  background-color: white;
  display: flex;
  justify-content: center;

}

.card{
  color: #000000;
  margin: auto;
}
.nombre-wrapper{
  background-color: #fff;
  
}
.utd-wrapper{
  background-color: #fff;
}
.carrera-wrapper{
  background-color: #fff;
}

h1{
  margin:0;
  padding:0;
  font-size: 8rem !important;
  text-transform:uppercase;
  position:relative;
  color: black;
}

.nombre{
  text-align: center;
  font-size: 6rem !important;
  color: black;
  transition: color 0.5s ease-out;
}

.utd{
  color: black;
}

.carrera{
  font-size: 5rem !important;
  text-align: center;
  color: black;
  width: fit-content;
  transition: color 0.5s ease-out;
}


h2{
  margin-block-end: 8rem;
  color: #000000;
}
.utd-logo{
  width: 50vw;
  padding: 2rem;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  
}


.fotopro{
  height: 20rem;
  width: 20rem;
  
  
}

.fotopro2{
  height: 75%;
  width: 100%;
}
 .wrapper-center{
  height: 100%;
  display: grid;
  padding-inline: 20%;
  place-items: center;
  background-color: white;
} 
.carousel{
  width: 100%;
}
.carousel-item img{
  height: 500px ;
  width: 100%;
}



@media (hover: none){
  body{
    overflow: hidden;
  }
}

.center{
  text-align: center;
  
  
}

.form{
  
  height: 20rem;
  width: 30rem;
  
}

.invernadero {
  height: 500px;
  width: 300px;
  margin-left: 50px;
}

.fotos{
  display: flex;
}

.login{
  width: 75%;
  height: 100%;
}